@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --primary-blue: #4d9cff;
  --secondary-blue: #5891ff;
  --accent-color: #ffc107;
}

.App{
  font-family: Raleway, serif;
}
.page-content{
  padding:2rem;
}
.input-box{
  max-width: 20rem;
}

.input-description{
  max-width:30rem;
}

.toast-body {
  color: white;
}

.venue-image{
  width:15rem;
  height:10rem;
  border-radius:1rem
}

.card-row{
  display:flex;
  align-items: center;
  gap:0.5rem;
}

.custom-link{
  text-decoration: none;
  color:black;
}

.banner {
  background: linear-gradient(90deg, rgba(224,238,255,1) 0%, rgba(157,206,255,1) 64%, rgba(77,156,255,1) 100%);
  padding:2rem;
  text-align: center;
  margin-bottom:3rem;
}

.banner-text {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color:white;
}

.banner-subheading {
  font-size: 1.5rem;
  color: #4d84d5;
  margin-bottom: 1rem;
}

.event-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
}
.event-card {
  width:22rem;
  transition:  transform 0.3s ease-in-out,box-shadow 0.3s ease;
}

.event-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px 0 var(--primary-blue);
}

.banner-btn.btn-outline-light:hover{
  background-color: white;
  color:var(--primary-blue);
}

#custom-button,.custom-button{
  border:1px solid var(--secondary-blue);
  border-radius:0.5rem;
  padding:0.5rem;
  color:var(--primary-blue);
  background-color:white;
}

#custom-button:hover,.custom-button:hover{
  background-color:var(--secondary-blue);
  color:white;
}

