@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.App{
  font-family: Raleway, serif;
}
.page-content{
  margin:2rem;
}
.input-box{
  max-width: 20rem;
}

.input-description{
  max-width:30rem;
}

.toast-body {
  color: white;
}

.venue-image{
  width:15rem;
  height:10rem;
  border-radius:1rem
}

.card-row{
  display:flex;
  align-items: center;
  gap:0.5rem;
}

.custom-link{
  text-decoration: none;
  color:black;
}
